@font-face {
  font-family: 'symbol';
  src: url("../../common/fonts/symbol/symbol.eot?#iefix") format("embedded-opentype"), url("../../common/fonts/symbol/symbol.woff") format("woff"), url("../../common/fonts/symbol/symbol.ttf") format("truetype"), url("../../common/fonts/symbol/symbol.svg#FontomasCustomRegular") format("svg");
  font-weight: normal;
  font-style: normal; 
}